.todos-list {
  padding: 0;
  margin: 0;
}

.todos-list li {
  display: flex;
  align-items: center;
  gap: 8px;
  list-style: none;
  border-block-end: 1px solid rgb(61 61 61);
  padding-block: 12px;
  cursor: pointer;

  & form {
    display: flex;
    gap: 5px;
    inline-size: 100%;
  }

  & input {
    flex-grow: 1;
    margin: unset;
    padding: 10px;
  }

  & button {
    margin: unset;
    padding-inline: 25px;
  }
}

.todos-list .check {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: unset;
  inline-size: 20px;
  block-size: 20px;
  border-radius: 50%;
  background-color: unset;
  border: 1px solid white;

  & svg {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  &:hover svg {
    opacity: 1;
  }
}

.todos-list p {
  margin: 0;
  flex-grow: 1;
}

.todos-list .edit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: 0;
  padding-block: 0;
  padding-inline: 8px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.todos-list li:hover .edit {
  opacity: 1;
}

.todos-list.completed {
  & p {
    text-decoration-line: line-through;
  }

  & .check {
    border: 1px solid var(--button-base);
    background-color: var(--button-base);
  }

  & svg {
    opacity: 1;
  }
}
